main {
    position: relative;
}

/* Board styling */

.position {
    border: solid 1px goldenrod;
}

.board-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
    font-size: 3.4em;
    text-align: center;
    border: solid 2px goldenrod;
}
/* Restart game Pop up */
.hidden {
    display: none;
}

.reset-game {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.623);
}

.declare-winner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

.rst-game-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

